<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>559398120162-ir3n2r89n9orvspaq0vmd1fvs4shu72b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559398120162-ir3n2r89n9orvspaq0vmd1fvs4shu72b</string>
	<key>API_KEY</key>
	<string>AIzaSyBBWdBS9CcAiTgSPwknGiEFDNCr7Rr81Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>559398120162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anthonylee.Upool</string>
	<key>PROJECT_ID</key>
	<string>upool-3992b</string>
	<key>STORAGE_BUCKET</key>
	<string>upool-3992b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559398120162:ios:95ee3bc28334231b</string>
	<key>DATABASE_URL</key>
	<string>https://upool-3992b.firebaseio.com</string>
</dict>
</plist>